[submodule "TerraCurio"]
	path = TerraCurio
	url = https://github.com/westernat/TerraCurio
	branch = neoforge-dev/1.21.1
[submodule "TerraGuns"]
	path = TerraGuns
	url = https://github.com/XiaoHuNao/TerraGuns
	branch = neoforge-dev/1.21.1
[submodule "TerraFurniture"]
	path = TerraFurniture
	url = https://github.com/MakerTechno/TerraFurniture
	branch = neoforge-dev/1.21.1
[submodule "TerraEntity"]
	path = TerraEntity
	url = https://github.com/gabrieloliveira001/TerraEntity
	branch = feat/moonlord-route
[submodule "Confluence-Magic-Lib"]
	path = Confluence-Magic-Lib
	url = https://github.com/westernat/Confluence-Magic-Lib
	branch = neoforge-dev/1.21.1
